@{
    ViewBag.Title = "Ohio Voting Information Link";
}
<h2>@ViewBag.Title.</h2>

<h2>To Check to see if you are registered in the state of Ohio, check here!</h2>
<a href="http://voterlookup.sos.state.oh.us/voterlookup.aspx" class="btn btn-primary btn-lg">Ohio Voter Info</a>
