@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Testing Avenue<br />
    Redmond, WA 98052-6399<br />
    123.456.7894
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@VotemSupport.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@VotemMarketing.com</a>
</address>