@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Welcome to Votems Virtual Voting Center! Here you will be able to vote online and free of any hassle!</p>
    <p><a href="https://votem.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>
            Enable to vote you will need to register an account, make sure to have your drivers license on hand for you will need it.
        </p>
    </div>
</div>